@use "base";

.hero {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: base.$backgroundcolor;
  opacity: 0.8;
  width: 100%;
  height: 60vh;
  margin: 12px auto;
}

.hero__photo {
  width: 50%;
  height: auto;
  background: url("/images/header.jpg") center no-repeat;
  background-size: cover;
}

.hero__content {
  align-self: center;
  margin-left: 40px;

  h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 2px;
  }

  blockquote {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}
