@use "base";
@use "menu";
@use "hero";
@use "icons";

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: base.$fontfamily;
  color: base.$primarycolor;
  margin: 12px;
}
